
<div class="responsive-container">
    <div class="row">
        <div class="col-6 d-flex justify-content-center mb-4" *ngFor="let offer of offers">
            <div class="card text-center container" (click)="openImageModal(offer)" style=" cursor:pointer">
                <div class="row no-gutters align-items-center flex-column">
                    <div class="col-12 img-container">
                        <img  referrerPolicy="no-referrer" width="100%" [src]="offer.imageUrl" alt="{{offer.title}}" class="img-fluid">
                    </div>
                    <div class="col-12 card-body">
                        <h5 class="card-title">{{ offer.title }}</h5>
                        <div class="prices">
              <span *ngFor="let attribute of offer.attributes">
                @if(attribute.name){*{{attribute.name}}:} {{ attribute.price | number:'1.2-2' }}
              </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
