<div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <a routerLink="/juice" class="menu-option btn btn-lg btn-block">
                <img referrerPolicy="no-referrer"
                     src="https://drive.google.com/thumbnail?id=1apUicTXwAJu8fqseWgnmRwuArwldjhYL&sz=w1000" alt="Juice"
                     class="img-fluid mb-2">
                <img referrerPolicy="no-referrer"
                     src="https://drive.google.com/thumbnail?id=1IRj9YR7BzNE6AChV9pii17gC-yPmd8p_&sz=w1000" alt="Juice"
                     class="img-fluid mb-2">

                <p>العصائر والكوكتيل</p>
            </a>
        </div>
        <div class="col-md-6 mb-4 d-flex justify-content-center align-items-center">
            <a routerLink="/sandwich"
               class="menu-option btn btn-lg btn-block d-flex flex-column justify-content-center align-items-center h-100">
                <img referrerPolicy="no-referrer"
                     src="https://drive.google.com/thumbnail?id=1toHv1xRksMKuIKD3xfezb__K99YvZ_2n&sz=w150"
                     alt="Sandwich" class="img-fluid mb-2">
                <p>الساندويشات</p>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a routerLink="/offers" class="menu-option btn btn-lg btn-block">
                <img src="assets/logo.png" alt="Sides" class="img-fluid mb-2">
                <p>العروض 🔥</p>
            </a>
        </div>
        <div class="col-md-6 mb-4">
            <a routerLink="/sides" class="menu-option btn btn-lg btn-block">
                <img src="assets/logo.png" alt="Sides" class="img-fluid mb-2">
                <p>الطلبات الجانبية</p>
            </a>
        </div>
    </div>
</div>
