.navbar-collapse {
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.navbar-collapse.show {
  max-height: 500px; /* Set a height that accommodates your content */
}
.modal {
  background: white;
}
.modal-dialog {
  max-width: 400px;
}
.show.d-block {
  display: block;
}

 .btn-close {
  float: right;
}

.modal.show.d-block {
    background: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(8px);
}

.modal-body img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
    display: inline-block;
    object-fit: contain;
}

